*{
    box-sizing: border-box;
}


#annandale {
    text-align: center;
    color:slategrey;
    font-family:'Playfair Display';
    font-size: 1.5em;
    margin-top:-430px;
}

#emory {
    text-align: center;
    margin-top:100px;
    color:slategrey;
    font-family:'Playfair Display';
    font-size: 1.5em;
    margin-left: 750px;
}

.rubrik {
    color: black;
    text-align: justify;
    font-family:'Playfair Display';
    margin-right: 30px;
    font-size: 1.2em;
    margin-left: 800px;
}

 #fp-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/pinetrees.jpg);
        background-size: cover;
        background-position: 50%;
        opacity: 0.3;
        z-index: -2;
    }

.family { 
width: 30%;
margin-left: 2%;
border: 5px;
    border-color: aqua;
}


 #fly {
        display: block;
        position: left;
        
        width: 50%;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #ee8a65;
    }

.intothewild {
    text-align: center;
    font-size: 50px;
    font-family: calibri bold;
    color: #598c82;

}
